<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace填写mapper类包名加类名（全路径）-->
<mapper namespace="com.cykj.mapper.AssessmentRecordMapper">
    <insert id="insertAssessmentRecord">
        insert into assessment_record (user_id, field_id, assessment_score, assessment_result, assessment_report)
        values (#{userId}, #{fieldId}, #{assessmentScore}, #{assessmentResult}, #{assessmentReport})
    </insert>

    <select id="queryAssessmentRecordByUserId" resultType="com.cykj.DO.AssessmentRecord">
        select * from assessment_record where user_id = #{userId}
        ORDER BY assessment_time DESC
    </select>
</mapper>