<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace填写mapper类包名加类名（全路径）-->
<mapper namespace="com.cykj.mapper.ConsultantMapper">

    <select id="getConsultantById" resultType="com.cykj.DO.Consultant">
        select *
        from consultant
        left join field on consultant.consultant_field_id = field.field_id
        left join admin on consultant.consultant_admin_id = admin.admin_id
        where consultant_id = #{consultantId}
    </select>

    <select id="getConsultantByFieldId" resultType="com.cykj.DO.Consultant">
        select *
        from consultant
        left join field on consultant.consultant_field_id = field.field_id
        left join admin on consultant.consultant_admin_id = admin.admin_id
        <where>
            <if test="fieldId != null">
                field_id = #{fieldId}
            </if>
        </where>
    </select>

</mapper>