<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace填写mapper类包名加类名（全路径）-->
<mapper namespace="com.cykj.mapper.FieldMapper">

    <select id="queryAllField" resultType="com.cykj.DO.Field">
        select *
        from field
    </select>
</mapper>